* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
}

header {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 50px;
    background-color: rgb(37, 37, 41);
}

.heading {
    font-size: 40px;
    line-height: 60px;
}

ul li {
    list-style: none;
    float: left;
    margin-left: 40px;
    padding: 0px 20px;
    display: block;
}

ul li a {
    font-size: 25px;
    text-decoration: none;
    color: white;
    line-height: 50px;
}

ul li:hover {
    border-bottom: 10px solid rgb(44, 44, 46);
    background-color: rgb(51, 51, 51);
    padding: 0px 20px;
}


/* for header picture */

.header_picture {
    /* background-image: url('images/picture-h.JPG'); */
    /* background-repeat: no-repeat; */
    height: fit-content;
    width: 100%;
}

#picture_head {
    position: relative;
    top: 50px;
    width: 100%;
    height: auto;
}

.contents {
    position: relative;
    width: 100%;
    /* height: 400px; */
    color: white;
    text-align: center;
    top: 50px;
}

.music {
    padding: 40px 0px;
    width: 100%;
    margin-top: -30px;
    background-color: rgb(37, 37, 41);
}

.music_div {
    width: 80%;
    margin: 0px auto;
    font-family: 'PT Sans', sans-serif;
    background-color: #252529;
    text-justify: auto;
}

#trail_btn {
    background: rgb(160, 0, 0);
    color: white;
    font-size: 20px;
    padding: 20px;
    border: 0px;
    margin: 20px 0px;
}

#trail_btn:hover {
    background: red;
    cursor: pointer;
}

#mobile {
    margin: 20px 0px;
    width: 100%;
}

.tv_movie {
    padding: 70px 0px;
    width: 100%;
    height: max-content;
    color: rgb(29, 20, 20);
}

.tv_movie_center {
    width: 85%;
    height: max-content;
    margin: 0px auto;
}

#read_more_btn {
    margin: 20px auto;
    padding: 20px 20px;
    background: rgb(2, 2, 145);
    color: white;
    font-size: 20px;
    margin-bottom: 0px;
}

#read_more_btn:hover {
    background: blue;
    cursor: pointer;
}

#tv_img {
    width: 100%;
}

.sky_div {
    display: block;
    width: 100%;
    height: 700px;
    background-image: url('images/sky.JPG');
    background-size: cover;
    background-repeat: no-repeat;
}

#sky_img {
    width: 100%;
    height: 800px;
    position: relative;
}

.sky_text {
    color: white;
    /* z-index: 1; */
    width: 85%;
    margin: 0px auto;
    padding: 80px auto;
    position: relative;
    top: 200px;
}

.gift_div {
    width: 100%;
    color: black;
    position: relative;
    height: 600px;
}

.gift_cart {
    width: 80%;
    margin: 0px auto;
    margin: 0px auto;
    padding: 60px 0px;
}

ol li {
    display: block;
    float: left;
    width: 50%;
    list-style: none;
    text-align: left;
}

#card {
    width: 100%;
}

.footer {
    color: white;
    margin-top: 100px;
    width: 100%;
    height: max-content;
    height: 300px;
    background-color: rgb(37, 37, 41);
    padding: 50px 0px;
}

.footer_bg {
    width: 85%;
    margin: 0px auto;
}

.footer_bg ol li {
    margin: 0px 2%;
    width: 20%;
    height: max-content;
    float: left;
    line-height: 30px;
    font-size: 25px;
    /* border: 5px solid rebeccapurple; */
}

.font_footer {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

hr {
    margin: 10px 0px;
}

.copy_write {
    line-height: 50px;
    width: 100%;
    background: red;
    position: relative;
    top: 100%;
    text-align: center;
    color: white;
    background-color: rgb(51, 51, 51);
}